<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-lg-offset-2">
        <p>Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete
          source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy
          customization.</p>
      </div> -->
      <div class="col-lg-4 text-center">
        <p>I am a fresh graduate with a bachelors of science in mechanical engineering, with a concentration in material 
          science. I have a passion for learning, which is why I taught myself python and CNC toolpathing. The majority 
          of my work experience is in my university 3D printing lab, where I managed and maintained over 30 printers
          of various ecosystems, including Stratasys and Prusa Research. That position gave me in depth knowledge of
          part design and additive manufacturing, as well as first hand experience with subtractive manufacturing due
          to working closely with the university fabrication shop. As a side project on my personal time, I also conducted
          material strength studies on 3D printed test samples, to determine the strength differences between materials, 
          colors, and brands. While on my personal time, I did this project to better my work to give myself a better 
          understanding of which material was best for each application.
        </p>
      </div>
    </div>
  </div>
</section>
